<h1>Books</h1>
<% @book.each do |book| %>
<p>Title</p>
<span><%= book.title %></span>
<p>Body</p>
<span><%= book.body %></span>
<%= link_to 'show', bookshow_path(book.id) %>
<%= link_to 'edit', bookedit_path(book.id) %>
<!--delet-->
<% end %>

